.Header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  height: 80px;
  width: 100%;

  font-weight: bold;
  color: white;

  background-color: #47555e;
}

.Logo {
  max-height: 60px;
  margin: 10px 20px;
}

@media screen and (max-width: 820px) {
  .Logo {
    display: none;
  }
}
