.Header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  min-height: var(--header-height);
  width: 100%;

  font-weight: bold;
  color: var(--secondary-color);

  background-color: var(--primary-color);
}

.Logo {
  max-height: 60px;
  margin: 10px 20px;
}

@media screen and (max-width: 820px) {
  .Logo {
    display: none;
  }
}
