.Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  height: 120px;
  width: 100%;

  padding: 10px 20px;

  font-weight: bold;
  color: white;

  background-color: #47555e;
}

.Logo {
  max-height: 120px;
}